:root {
    /* Primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Neutral colors */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsla(224, 30%, 27%, 0.24);

    /* Gradient colors */
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);

    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);


    --ff: 'Hanken Grotesk', sans-serif;
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-extraBold: 800;
    --fsize: 1.125rem;
    --fsize-small: 1rem;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--White);
    font-family: var(--ff);
    font-size: var(--fsize);
    color: var(--Light-lavender);
}

.main__container {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.result-wrapper {
    background: linear-gradient(180deg, #7857ff, #2e2be9);
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0 0 30px 30px;
    text-align: center;
    padding: 1.5rem 2.5rem;
    flex: 1;
}

.main__container h3 {
    margin: 0;
}

.result-wrapper .circle {
    margin-bottom: 10px;
    margin-inline: auto;
    padding: 1.8rem 2.8rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) 99%);

}

.circle .percent {
    font-size: 3.5rem;
    color: var(--White);
    font-weight: var(--fw-extraBold);

}

.circle .btm,
.summary-item p span {
    font-size: var(--fsize-small);
    color: var(--Light-lavender);
}

.result-wrapper .mg-btm {
    color: var(--White);
    font-family: var(--fw-bold);
    font-size: 1.3rem;
}

.result-wrapper p {
    margin-block: 0;
    font-weight: var(--fw-regular);
    font-size: var(--fsize-small);
    margin-top: 1rem;
}


.summary-wrapper {
    padding-inline: 2rem;
    padding-top: 1.7rem;
    display: grid;
    width: 100%;
    gap: 1.5rem;
    flex: 1;
}

.summary-wrapper h3 {
    margin-bottom: 0;
    color: hsl(0, 0%, 25%);
}

.summary-wrapper .summary-item {

    display: inline-flex;
    justify-content: space-between;
    padding: 1em;
    border-radius: 10px;
}

.summary-item p {
    margin: 0;
    font-size: var(--fsize-small);
    color: hsl(0, 0%, 25%);
    font-weight: var(--fw-extraBold);
}

.reaction {
    background-color: hsl(0, 100%, 98%);
}

.memory {
    background-color: hsl(39, 100%, 97%);
}

.verbal {
    background-color: hsl(166, 100%, 98%);
}

.visual {
    background-color: hsl(234, 85%, 98%);
}

.reaction>div {
    color: var(--light-red);
}

.memory>div {
    color: var(--orangey-yellow);
}

.verbal>div {
    color: var(--Green-teal);
}

.visual>div {
    color: var(--cobalt-blue);
}

.reaction>div::before {
    content: url(images/icon-reaction.svg);

}

.memory>div::before {
    content: url(images/icon-memory.svg);

}

.verbal>div::before {
    content: url(images/icon-verbal.svg);
}

.visual>div::before {
    content: url(images/icon-visual.svg);
}

.reaction>div::before,
.memory>div::before,
.verbal>div::before,
.visual>div::before {
    margin: 0 0.7rem 0 0;
    position: relative;
    top: 4px;
}


.summary-wrapper button {
    padding: 1.2rem 3rem;
    border-radius: 40px;
    border: none;
    background-color: hsla(224, 30%, 27%, 1);
    font-weight: var(--fw-bold);
    color: var(--White);
    margin-bottom: 1.5rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.summary-wrapper button:hover,
.summary-wrapper button:active {
    background: linear-gradient(180deg, #7857ff, #2e2be9);
}



@media screen and (min-width: 560px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.4em;

    }

    .main__container {
        width: 40em;
        border-radius: 40px;
        flex-direction: row;
        gap: 0.5rem;
        box-shadow: 1px 10px 20px;

    }

    .result-wrapper {
        gap: 1rem;
        border-radius: 40px;
        padding: 2.5rem;
    }

    .result-wrapper .circle {
        padding: 3rem 4rem;
    }

    .summary-wrapper {
        gap: 1rem;
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }


    .result-wrapper .text-container {
        padding: 0 2rem;

    }

}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}